@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}


h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  margin: auto;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  transition: all .3s; 
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
}

.human-vs-human{
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  padding : 4px;
}

.human-vs-human .igra{
  margin: 0 8px 0 0;
}

.human-vs-human .info{
  margin:0;
  color: white;
}

.login-inner{
  width: 450px;
  padding: 40px 55px 40px 55px;
  background-color:rgba(256, 256, 256, 0.9);
}

.game-inner{
  padding: 7px 7px 7px 7px;
  background-color:rgba(256, 256, 256, 0.5);

}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.game{
  background-color: #000046;
  display: flex;
}
